<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Provbet</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f9f9f9; padding: 20px;">
<div style="max-width: 600px; margin: auto; background-color: #fff; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
    <h2 style="text-align: center; color: #f39c12;">Bienvenue sur Provbet, {{ lastName }} {{  firstName }} !</h2>

    <p>Félicitations, votre compte a été créé avec succès!</p>
    <p>Vous êtes maintenant prêt à plonger dans l'univers des jeux de loterie sur Provbet. Préparez-vous à tenter votre chance pour décrocher de superbes récompenses !</p>

    <p>Avec votre compte, vous pouvez :</p>
    <ul>
        <li>Participer à nos jeux de loterie quotidiens et hebdomadaires.</li>
        <li>Découvrir des bonus exclusifs pour augmenter vos chances de gagner.</li>
        <li>Accéder à votre tableau de bord pour suivre vos gains et vos participations.</li>
    </ul>
    <p>Bonne chance et amusez-vous bien,</p>
    <p><strong>L'équipe Provbet</strong></p>
    <hr>
    <p style="font-size: 12px; color: #555;">Cet email vous a été envoyé par Provbet. Si vous n'êtes pas à l'origine de cette inscription, merci de nous contacter immédiatement.</p>
</div>
</body>
</html>
